apiVersion: kubescheduler.config.k8s.io/v1beta1
leaderElection:
  leaderElect: true
  leaseDuration: 15s
  resourceName: kube-scheduler
  resourceNamespace: kube-system
  renewDeadline: 10s
  resourceLock: endpoints
  retryPeriod: 2s
kind: KubeSchedulerConfiguration
healthzBindAddress: 0.0.0.0:10251
metricsBindAddress: 0.0.0.0:10251
percentageOfNodesToScore: 50
clientConnection:
  acceptContentTypes: ""
  burst: 100
  contentType: application/vnd.kubernetes.protobuf
  kubeconfig: "{{ kube_scheduler_kubeconfig }}"
  qps: 50

