[Unit]
Description=Kubernetes Scheduler

[Service]
ExecStart=/usr/bin/hyperkube kube-scheduler --config {{ kube_scheduler_config }}
Restart=on-failure
Type=simple
ExecStop=/bin/kill $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
